<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @genre.songs.each do |song| %>
    <%= song.name %>
    <a href="/songs/<%="#{song.slug}"%>">Link</a>
    <% end %>

    <% @genre.artists.each do |artist| %>
    <%= artist.name %>
    <a href="/artists/<%="#{artist.slug}"%>">Link</a>
    <% end %>


  </body>
</html>
